In [1]:
import gc
import pandas as pd
import numpy as np
import os

from tqdm import tqdm_notebook

pd.set_option('display.max_columns', 100)

from utils import loadpkl, to_feature, line_notify
from utils import COLS_TEST1, COLS_TEST2, DAYS_PRED

%matplotlib inline

In [2]:
# load pkls
df_sales = loadpkl('../feats/sales.pkl')
df_calendar = loadpkl('../feats/calendar.pkl')
df_sell_prices = loadpkl('../feats/sell_prices.pkl')
df_sub = pd.read_csv('../input/sample_submission.csv')

In [5]:
# split test data
sub['is_test1']=sub['id'].apply(lambda x: True if '_validation' in x else False)
sub['is_test2']=sub['id'].apply(lambda x: True if '_evaluation' in x else False)

test1 = sub[sub['is_test1']]
test2 = sub[sub['is_test2']]

del sub
gc.collect()

# drop flags
test1.drop(['is_test1','is_test2'],axis=1,inplace=True)
test2.drop(['is_test1','is_test2'],axis=1,inplace=True)

# change column name
test1.columns = ['id']+COLS_TEST1
test2.columns = ['id']+COLS_TEST2

# change id
test2['id'] = test2['id'].str.replace('_evaluation','_validation')

# merge
df = df.merge(test1,on='id',how='left')
df = df.merge(test2,on='id',how='left')

del test1, test2
gc.collect()

63

In [3]:
id_vars = ['id','item_id','dept_id','cat_id','store_id','state_id']
df = pd.melt(df,id_vars=id_vars,var_name='d',value_name='demand')

NameError: name 'df' is not defined

In [4]:
df_sales = df_sales[['id','demand']].groupby('id').diff()

KeyboardInterrupt:

In [3]:
df = pd.read_csv('../input/sales_train_validation.csv')

In [4]:
cols_date = [c for c in df.columns if 'd_' in c]

In [14]:
df_calendar = pd.read_csv('../input/calendar.csv')

In [12]:
df = pd.read_csv('../input/sell_prices.csv')

In [14]:
df.groupby(['store_id','item_id'])['wm_yr_wk'].agg(['min']).reset_index()

      store_id          item_id    min
0         CA_1      FOODS_1_001  11101
1         CA_1      FOODS_1_002  11101
2         CA_1      FOODS_1_003  11101
3         CA_1      FOODS_1_004  11206
4         CA_1      FOODS_1_005  11101
5         CA_1      FOODS_1_006  11101
6         CA_1      FOODS_1_008  11138
7         CA_1      FOODS_1_009  11206
8         CA_1      FOODS_1_010  11218
9         CA_1      FOODS_1_011  11101
10        CA_1      FOODS_1_012  11127
11        CA_1      FOODS_1_013  11101
12        CA_1      FOODS_1_014  11317
13        CA_1      FOODS_1_015  11103
14        CA_1      FOODS_1_016  11101
15        CA_1      FOODS_1_017  11207
16        CA_1      FOODS_1_018  11101
17        CA_1      FOODS_1_019  11101
18        CA_1      FOODS_1_020  11101
19        CA_1      FOODS_1_021  11305
20        CA_1      FOODS_1_022  11323
21        CA_1      FOODS_1_023  11127
22        CA_1      FOODS_1_024  11101
23        CA_1      FOODS_1_025  11244
24        CA_1      FOODS_1_026  11111
25        CA_1      FOODS_1_027  11240
26        CA_1      FOODS_1_028  11313
27        CA_1      FOODS_1_029  11110
28        CA_1      FOODS_1_030  11102
29        CA_1      FOODS_1_031  11118
...        ...              ...    ...
30460     WI_3  HOUSEHOLD_2_487  11346
30461     WI_3  HOUSEHOLD_2_488  11101
30462     WI_3  HOUSEHOLD_2_489  11202
30463     WI_3  HOUSEHOLD_2_490  11433
30464     WI_3  HOUSEHOLD_2_491  11111
30465     WI_3  HOUSEHOLD_2_492  11101
30466     WI_3  HOUSEHOLD_2_493  11422
30467     WI_3  HOUSEHOLD_2_494  11101
30468     WI_3  HOUSEHOLD_2_495  11101
30469     WI_3  HOUSEHOLD_2_496  11320
30470     WI_3  HOUSEHOLD_2_497  11101
30471     WI_3  HOUSEHOLD_2_498  11450
30472     WI_3  HOUSEHOLD_2_499  11427
30473     WI_3  HOUSEHOLD_2_500  11107
30474     WI_3  HOUSEHOLD_2_501  11320
30475     WI_3  HOUSEHOLD_2_502  11102
30476     WI_3  HOUSEHOLD_2_503  11101
30477     WI_3  HOUSEHOLD_2_504  11150
30478     WI_3  HOUSEHOLD_2_505  11105
30479     WI_3  HOUSEHOLD_2_506  11249
30480     WI_3  HOUSEHOLD_2_507  11103
30481     WI_3  HOUSEHOLD_2_508  11202
30482     WI_3  HOUSEHOLD_2_509  11101
30483     WI_3  HOUSEHOLD_2_510  11114
30484     WI_3  HOUSEHOLD_2_511  11101
30485     WI_3  HOUSEHOLD_2_512  11101
30486     WI_3  HOUSEHOLD_2_513  11311
30487     WI_3  HOUSEHOLD_2_514  11101
30488     WI_3  HOUSEHOLD_2_515  11352
30489     WI_3  HOUSEHOLD_2_516  11101

[30490 rows x 3 columns]

In [15]:
df_calendar

,date,wm_yr_wk,weekday,wday,month,year,d,event_name_1,event_type_1,event_name_2,event_type_2,snap_CA,snap_TX,snap_WI
0,2011-01-29,11101,Saturday,1,1,2011,d_1,NaN,NaN,NaN,NaN,0,0,0
1,2011-01-30,11101,Sunday,2,1,2011,d_2,NaN,NaN,NaN,NaN,0,0,0
2,2011-01-31,11101,Monday,3,1,2011,d_3,NaN,NaN,NaN,NaN,0,0,0
3,2011-02-01,11101,Tuesday,4,2,2011,d_4,NaN,NaN,NaN,NaN,1,1,0
4,2011-02-02,11101,Wednesday,5,2,2011,d_5,NaN,NaN,NaN,NaN,1,0,1
5,2011-02-03,11101,Thursday,6,2,2011,d_6,NaN,NaN,NaN,NaN,1,1,1
6,2011-02-04,11101,Friday,7,2,2011,d_7,NaN,NaN,NaN,NaN,1,0,0
7,2011-02-05,11102,Saturday,1,2,2011,d_8,NaN,NaN,NaN,NaN,1,1,1
8,2011-02-06,11102,Sunday,2,2,2011,d_9,SuperBowl,Sporting,NaN,NaN,1,1,1
9,2011-02-07,11102,Monday,3,2,2011,d_10,NaN,NaN,NaN,NaN,1,1,0
10,2011-02-08,11102,Tuesday,4,2,2011,d_11,NaN,NaN,NaN,NaN,1,0,1
11,2011-02-09,11102,Wednesday,5,2,2011,d_12,NaN,NaN,NaN,NaN,1,1,1
12,2011-02-10,11102,Thursday,6,2,2011,d_13,NaN,NaN,NaN,NaN,1,0,0
13,2011-02-11,11102,Friday,7,2,2011,d_14,NaN,NaN,NaN,NaN,0,1,1
14,2011-02-12,11103,Saturday,1,2,2011,d_15,NaN,NaN,NaN,NaN,0,1,1
15,2011-02-13,11103,Sunday,2,2,2011,d_16,NaN,NaN,NaN,NaN,0,1,0
16,2011-02-14,11103,Monday,3,2,2011,d_17,ValentinesDay,Cultural,NaN,NaN,0,0,1
17,2011-02-15,11103,Tuesday,4,2,2011,d_18,NaN,NaN,NaN,NaN,0,1,1
18,2011-02-16,11103,Wednesday,5,2,2011,d_19,NaN,NaN,NaN,NaN,0,0,0
19,2011-02-17,11103,Thursday,6,2,2011,d_20,NaN,NaN,NaN,NaN,0,0,0
20,2011-02-18,11103,Friday,7,2,2011,d_21,NaN,NaN,NaN,NaN,0,0,0
21,2011-02-19,11104,Saturday,1,2,2011,d_22,NaN,NaN,NaN,NaN,0,0,0
22,2011-02-20,11104,Sunday,2,2,2011,d_23,NaN,NaN,NaN,NaN,0,0,0
23,2011-02-21,11104,Monday,3,2,2011,d_24,PresidentsDay,National,NaN,NaN,0,0,0
24,2011-02-22,11104,Tuesday,4,2,2011,d_25,NaN,NaN,NaN,NaN,0,0,0
25,2011-02-23,11104,Wednesday,5,2,2011,d_26,NaN,NaN,NaN,NaN,0,0,0
26,2011-02-24,11104,Thursday,6,2,2011,d_27,NaN,NaN,NaN,NaN,0,0,0
27,2011-02-25,11104,Friday,7,2,2011,d_28,NaN,NaN,NaN,NaN,0,0,0
28,2011-02-26,11105,Saturday,1,2,2011,d_29,NaN,NaN,NaN,NaN,0,0,0
29,2011-02-27,11105,Sunday,2,2,2011,d_30,NaN,NaN,NaN,NaN,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1939,2016-05-21,11617,Saturday,1,5,2016,d_1940,NaN,NaN,NaN,NaN,0,0,0
1940,2016-05-22,11617,Sunday,2,5,2016,d_1941,NaN,NaN,NaN,NaN,0,0,0
1941,2016-05-23,11617,Monday,3,5,2016,d_1942,NaN,NaN,NaN,NaN,0,0,0
1942,2016-05-24,11617,Tuesday,4,5,2016,d_1943,NaN,NaN,NaN,NaN,0,0,0
1943,2016-05-25,11617,Wednesday,5,5,2016,d_1944,NaN,NaN,NaN,NaN,0,0,0
1944,2016-05-26,11617,Thursday,6,5,2016,d_1945,NaN,NaN,NaN,NaN,0,0,0
1945,2016-05-27,11617,Friday,7,5,2016,d_1946,NaN,NaN,NaN,NaN,0,0,0
1946,2016-05-28,11618,Saturday,1,5,2016,d_1947,NaN,NaN,NaN,NaN,0,0,0
1947,2016-05-29,11618,Sunday,2,5,2016,d_1948,NaN,NaN,NaN,NaN,0,0,0
1948,2016-05-30,11618,Monday,3,5,2016,d_1949,MemorialDay,National,NaN,NaN,0,0,0
1949,2016-05-31,11618,Tuesday,4,5,2016,d_1950,NaN,NaN,NaN,NaN,0,0,0
1950,2016-06-01,11618,Wednesday,5,6,2016,d_1951,NaN,NaN,NaN,NaN,1,1,0
1951,2016-06-02,11618,Thursday,6,6,2016,d_1952,NBAFinalsStart,Sporting,NaN,NaN,1,0,1
1952,2016-06-03,11618,Friday,7,6,2016,d_1953,NaN,NaN,NaN,NaN,1,1,1
1953,2016-06-04,11619,Saturday,1,6,2016,d_1954,NaN,NaN,NaN,NaN,1,0,0
1954,2016-06-05,11619,Sunday,2,6,2016,d_1955,NaN,NaN,NaN,NaN,1,1,1
1955,2016-06-06,11619,Monday,3,6,2016,d_1956,NaN,NaN,NaN,NaN,1,1,1
1956,2016-06-07,11619,Tuesday,4,6,2016,d_1957,Ramadan starts,Religious,NaN,NaN,1,1,0
1957,2016-06-08,11619,Wednesday,5,6,2016,d_1958,NaN,NaN,NaN,NaN,1,0,1
1958,2016-06-09,11619,Thursday,6,6,2016,d_1959,NaN,NaN,NaN,NaN,1,1,1
1959,2016-06-10,11619,Friday,7,6,2016,d_1960,NaN,NaN,NaN,NaN,1,0,0
1960,2016-06-11,11620,Saturday,1,6,2016,d_1961,NaN,NaN,NaN,NaN,0,1,1
1961,2016-06-12,11620,Sunday,2,6,2016,d_1962,NaN,NaN,NaN,NaN,0,1,1
1962,2016-06-13,11620,Monday,3,6,2016,d_1963,NaN,NaN,NaN,NaN,0,1,0
1963,2016-06-14,11620,Tuesday,4,6,2016,d_1964,NaN,NaN,NaN,NaN,0,0,1
1964,2016-06-15,11620,Wednesday,5,6,2016,d_1965,NaN,NaN,NaN,NaN,0,1,1
1965,2016-06-16,11620,Thursday,6,6,2016,d_1966,NaN,NaN,NaN,NaN,0,0,0
1966,2016-06-17,11620,Friday,7,6,2016,d_1967,NaN,NaN,NaN,NaN,0,0,0
1967,2016-06-18,11621,Saturday,1,6,2016,d_1968,NaN,NaN,NaN,NaN,0,0,0
1968,2016-06-19,11621,Sunday,2,6,2016,d_1969,NBAFinalsEnd,Sporting,Father's day,Cultural,0,0,0