In [1]:
import gc
import pandas as pd
import numpy as np
import os

from tqdm import tqdm_notebook

pd.set_option('display.max_columns', 100)

from utils import loadpkl, to_feature, line_notify

%matplotlib inline

In [2]:
# load pkls
df_sales = loadpkl('../feats/sales.pkl')
df_calendar = loadpkl('../feats/calendar.pkl')
df_sell_prices = loadpkl('../feats/sell_prices.pkl')
df_sub = pd.read_csv('../input/sample_submission.csv')

In [2]:
df_sell_prices = loadpkl('../feats/sell_prices.pkl')

In [15]:
df_sales.tail()

,id,item_id,dept_id,cat_id,store_id,state_id,d,demand,is_test
60034805,FOODS_3_823_WI_3_validation,FOODS_3_823,FOODS_3,FOODS,WI_3,WI,d_1969,0,1
60034806,FOODS_3_824_WI_3_validation,FOODS_3_824,FOODS_3,FOODS,WI_3,WI,d_1969,0,1
60034807,FOODS_3_825_WI_3_validation,FOODS_3_825,FOODS_3,FOODS,WI_3,WI,d_1969,0,1
60034808,FOODS_3_826_WI_3_validation,FOODS_3_826,FOODS_3,FOODS,WI_3,WI,d_1969,0,1
60034809,FOODS_3_827_WI_3_validation,FOODS_3_827,FOODS_3,FOODS,WI_3,WI,d_1969,0,1

In [17]:
df_calendar.tail()

,date,wm_yr_wk,wday,month,year,d,event_name_1,event_type_1,event_name_2,event_type_2,snap_CA,snap_TX,snap_WI,seasonality
1964,2016-06-15,11620,5,6,2016,d_1965,NaN,NaN,NaN,NaN,0,1,1,0.962513
1965,2016-06-16,11620,6,6,2016,d_1966,NaN,NaN,NaN,NaN,0,0,0,0.967028
1966,2016-06-17,11620,7,6,2016,d_1967,NaN,NaN,NaN,NaN,0,0,0,0.971257
1967,2016-06-18,11621,1,6,2016,d_1968,NaN,NaN,NaN,NaN,0,0,0,0.975200
1968,2016-06-19,11621,2,6,2016,d_1969,13.0,0.0,3.0,0.0,0,0,0,0.978856

In [5]:
df_sell_prices.head()

  store_id        item_id  wm_yr_wk  sell_price
0     CA_1  HOBBIES_1_001     11325        9.58
1     CA_1  HOBBIES_1_001     11326        9.58
2     CA_1  HOBBIES_1_001     11327        8.26
3     CA_1  HOBBIES_1_001     11328        8.26
4     CA_1  HOBBIES_1_001     11329        8.26

In [6]:
df_sub.tail()

,id,F1,F2,F3,F4,F5,F6,F7,F8,F9,F10,F11,F12,F13,F14,F15,F16,F17,F18,F19,F20,F21,F22,F23,F24,F25,F26,F27,F28
60975,FOODS_3_823_WI_3_evaluation,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
60976,FOODS_3_824_WI_3_evaluation,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
60977,FOODS_3_825_WI_3_evaluation,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
60978,FOODS_3_826_WI_3_evaluation,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
60979,FOODS_3_827_WI_3_evaluation,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [19]:
# merge
df_sales = df_sales.merge(df_calendar, on='d',how='left')
df_sales = df_sales.merge(df_sell_prices, on=['store_id','item_id','wm_yr_wk'],how='left')
df_sales.head()

,id,item_id,dept_id,cat_id,store_id,state_id,d,demand,is_test,date,wm_yr_wk,wday,month,year,event_name_1,event_type_1,event_name_2,event_type_2,snap_CA,snap_TX,snap_WI,seasonality,sell_price
0,HOBBIES_1_008_CA_1_validation,HOBBIES_1_008,HOBBIES_1,HOBBIES,CA_1,CA,d_1,12,0,2011-01-29,11101,1,1,2011,NaN,NaN,NaN,NaN,0,0,0,-0.878612,0.46
1,HOBBIES_1_009_CA_1_validation,HOBBIES_1_009,HOBBIES_1,HOBBIES,CA_1,CA,d_1,2,0,2011-01-29,11101,1,1,2011,NaN,NaN,NaN,NaN,0,0,0,-0.878612,1.56
2,HOBBIES_1_015_CA_1_validation,HOBBIES_1_015,HOBBIES_1,HOBBIES,CA_1,CA,d_1,4,0,2011-01-29,11101,1,1,2011,NaN,NaN,NaN,NaN,0,0,0,-0.878612,0.70
3,HOBBIES_1_016_CA_1_validation,HOBBIES_1_016,HOBBIES_1,HOBBIES,CA_1,CA,d_1,5,0,2011-01-29,11101,1,1,2011,NaN,NaN,NaN,NaN,0,0,0,-0.878612,0.70
4,HOBBIES_1_022_CA_1_validation,HOBBIES_1_022,HOBBIES_1,HOBBIES,CA_1,CA,d_1,2,0,2011-01-29,11101,1,1,2011,NaN,NaN,NaN,NaN,0,0,0,-0.878612,6.86

In [3]:
df_sales.head()

,id,item_id,dept_id,cat_id,store_id,state_id,d,demand
7,HOBBIES_1_008_CA_1_validation,HOBBIES_1_008,HOBBIES_1,HOBBIES,CA_1,CA,d_1,12
8,HOBBIES_1_009_CA_1_validation,HOBBIES_1_009,HOBBIES_1,HOBBIES,CA_1,CA,d_1,2
14,HOBBIES_1_015_CA_1_validation,HOBBIES_1_015,HOBBIES_1,HOBBIES,CA_1,CA,d_1,4
15,HOBBIES_1_016_CA_1_validation,HOBBIES_1_016,HOBBIES_1,HOBBIES,CA_1,CA,d_1,5
21,HOBBIES_1_022_CA_1_validation,HOBBIES_1_022,HOBBIES_1,HOBBIES,CA_1,CA,d_1,2

In [7]:
df_sales.groupby('id').shift(365)

              item_id  dept_id cat_id store_id state_id       d  demand
7                 NaN      NaN    NaN      NaN      NaN     NaN     NaN
8                 NaN      NaN    NaN      NaN      NaN     NaN     NaN
14                NaN      NaN    NaN      NaN      NaN     NaN     NaN
15                NaN      NaN    NaN      NaN      NaN     NaN     NaN
21                NaN      NaN    NaN      NaN      NaN     NaN     NaN
22                NaN      NaN    NaN      NaN      NaN     NaN     NaN
28                NaN      NaN    NaN      NaN      NaN     NaN     NaN
31                NaN      NaN    NaN      NaN      NaN     NaN     NaN
35                NaN      NaN    NaN      NaN      NaN     NaN     NaN
43                NaN      NaN    NaN      NaN      NaN     NaN     NaN
46                NaN      NaN    NaN      NaN      NaN     NaN     NaN
49                NaN      NaN    NaN      NaN      NaN     NaN     NaN
57                NaN      NaN    NaN      NaN      NaN     NaN     NaN
59                NaN      NaN    NaN      NaN      NaN     NaN     NaN
66                NaN      NaN    NaN      NaN      NaN     NaN     NaN
75                NaN      NaN    NaN      NaN      NaN     NaN     NaN
76                NaN      NaN    NaN      NaN      NaN     NaN     NaN
81                NaN      NaN    NaN      NaN      NaN     NaN     NaN
83                NaN      NaN    NaN      NaN      NaN     NaN     NaN
85                NaN      NaN    NaN      NaN      NaN     NaN     NaN
86                NaN      NaN    NaN      NaN      NaN     NaN     NaN
89                NaN      NaN    NaN      NaN      NaN     NaN     NaN
94                NaN      NaN    NaN      NaN      NaN     NaN     NaN
95                NaN      NaN    NaN      NaN      NaN     NaN     NaN
96                NaN      NaN    NaN      NaN      NaN     NaN     NaN
98                NaN      NaN    NaN      NaN      NaN     NaN     NaN
101               NaN      NaN    NaN      NaN      NaN     NaN     NaN
103               NaN      NaN    NaN      NaN      NaN     NaN     NaN
106               NaN      NaN    NaN      NaN      NaN     NaN     NaN
122               NaN      NaN    NaN      NaN      NaN     NaN     NaN
...               ...      ...    ...      ...      ...     ...     ...
60034780  FOODS_3_798  FOODS_3  FOODS     WI_3       WI  d_1604     0.0
60034781  FOODS_3_799  FOODS_3  FOODS     WI_3       WI  d_1604     0.0
60034782  FOODS_3_800  FOODS_3  FOODS     WI_3       WI  d_1604     0.0
60034783  FOODS_3_801  FOODS_3  FOODS     WI_3       WI  d_1604     4.0
60034784  FOODS_3_802  FOODS_3  FOODS     WI_3       WI  d_1604     0.0
60034785  FOODS_3_803  FOODS_3  FOODS     WI_3       WI  d_1604     2.0
60034786  FOODS_3_804  FOODS_3  FOODS     WI_3       WI  d_1604    10.0
60034787  FOODS_3_805  FOODS_3  FOODS     WI_3       WI  d_1604     0.0
60034788  FOODS_3_806  FOODS_3  FOODS     WI_3       WI  d_1604     0.0
60034789  FOODS_3_807  FOODS_3  FOODS     WI_3       WI  d_1604     5.0
60034790  FOODS_3_808  FOODS_3  FOODS     WI_3       WI  d_1604    20.0
60034791  FOODS_3_809  FOODS_3  FOODS     WI_3       WI  d_1604     5.0
60034792  FOODS_3_810  FOODS_3  FOODS     WI_3       WI  d_1604     0.0
60034793  FOODS_3_811  FOODS_3  FOODS     WI_3       WI  d_1604    17.0
60034794  FOODS_3_812  FOODS_3  FOODS     WI_3       WI  d_1604     2.0
60034795  FOODS_3_813  FOODS_3  FOODS     WI_3       WI  d_1604     1.0
60034796  FOODS_3_814  FOODS_3  FOODS     WI_3       WI  d_1604     0.0
60034797  FOODS_3_815  FOODS_3  FOODS     WI_3       WI  d_1604     0.0
60034798  FOODS_3_816  FOODS_3  FOODS     WI_3       WI  d_1604    13.0
60034799  FOODS_3_817  FOODS_3  FOODS     WI_3       WI  d_1604     0.0
60034800  FOODS_3_818  FOODS_3  FOODS     WI_3       WI  d_1604     1.0
60034801  FOODS_3_819  FOODS_3  FOODS     WI_3       WI  d_1604     0.0
60034802  FOODS_3_820  FOODS_3  FOODS     WI_3       WI  d_1604     0.0
60034803  FOODS_3_821  FOODS_3  FOODS     WI_3       WI  d_1604     1.0
60034804  FOODS_3_822  FOODS_3  FOODS     WI_3       WI  d_1604     1.0
60034805  FOODS_3_823  FOODS_3  FOODS     WI_3       WI  d_1604     0.0
60034806  FOODS_3_824  FOODS_3  FOODS     WI_3       WI  d_1604     0.0
60034807  FOODS_3_825  FOODS_3  FOODS     WI_3       WI  d_1604     0.0
60034808  FOODS_3_826  FOODS_3  FOODS     WI_3       WI  d_1604     0.0
60034809  FOODS_3_827  FOODS_3  FOODS     WI_3       WI  d_1604     2.0

[47649940 rows x 7 columns]